@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  font-family:  sans-serif;
  
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* * {
  border: red 2px solid;
} */